$f-Raleway: 'Raleway', sans-serif;
$f-DancingScript: 'Dancing Script', cursive;

$font-full: 60px;
$font-x: 35px;
$font-standard: 22px;
$font-l: 17px;
$font-s: 13px;

$c-crimson: #D9122D;
$c-white: #FFFFFF;
$c-black: #000000;
$c-grey : rgb(51, 51, 51);
$c-buttercup: #EFAB0B;
$c-malibu: #88B1F7;